<div class="cell medium-auto main cell-block-container">
  <div class="grid-x">
    <div class="cell medium-3 large-2 cell-block-y side-bar">
      <ul class="tabs">
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
        <li class="tab"><i class="fa-solid fa-house"></i> Home</li>
        <li class="tab"><i class="fa-solid fa-warehouse"></i> Inventory</li>
      </ul>
    </div>
    <ng-container></ng-container>
  </div>
</div>