<section class="text-center">
  <h2>Hello Mr.Nadeem</h2>
  <p>Sorry for not being able to showcase my skills in the way I was hoping for due to the lack of details in foundation
    docs as I am not as deep in it like am in bootstrap cause using it all time and the docs are really simple and clear
    and the time was challenging for me cause I was away form Alexandria for a while but I didn't wanna miss the
    deadline, and the codebase is a little messy cause I was gonna module it and break it up to components in the end.
    And Finally just wanna to say i am believing in my skills and my ability to adapt very fast and i loved the work
    inveroment u descriped for me in the meeting and i hope to be part of it ♥</p>
</section>