p
  margin: 0
.header
  background-color: #fff
  padding: 10px 0
  border-radius: 10px
  box-shadow: -8px 12px 18px 0 #dadee8
.content
  padding: 20px 0
  border-bottom: 1px solid black
.profit-margin
  padding: 20px 0
.fa-plus
  background-color: #6673FC
  padding: 10px
  border-radius: 50px
  color: #fff
img
  height: 80px
  border-radius: 20px
