<app-app-container>
  <app-top-bar> </app-top-bar>
  <div class="cell medium-auto main cell-block-container">
    <div class="grid-x">
      <div class="cell medium-3 large-2 cell-block-y side-bar">
        <ul class="tabs">
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
          <li class="tab"><i class="fa-solid fa-house"></i> <a [routerLink]="['']">Home</a></li>
          <li class="tab"><i class="fa-solid fa-warehouse"></i> <a [routerLink]="['/products']">Inventory</a></li>
        </ul>
      </div>
      <div class="cell medium-9 large-10 cell-block-y content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-app-container>