<main>
    <section class="side-bar">
        <div class="header">
            <h3>Eslam</h3>
            <button>=</button>
        </div>
        <ul>
            <li>1</li>
            <li>2</li>
        </ul>
    </section>
    <section class="top-bar">
        <div class="status-bar">
            <img src="../../../assets/avatar.jpg" alt="" width="25">
            <h6>Eslam magdy ♣</h6>
        </div>
        <div class="search-bar">
            <input type="text">
            <button>+</button>
        </div>
    </section>
</main>